
# 16 FEBRUARY
***CLASS NOT Attended DUE TO NAGAR KIRTAN

In [19]:
#list of lists
import numpy as np
myarr=np.array([ [[14, 17, 12, 33, 44],
                 [15, 6, 27, 8, 19],
                 [23, 2, 54, 1, 4,]]])

colsum=np.sum(myarr, axis=0)
print(colsum)
rowsum=np.sum(myarr, axis=1)
#same
print(myarr.sum(axis=1))

[[14 17 12 33 44]
 [15  6 27  8 19]
 [23  2 54  1  4]]
[[52 25 93 42 67]]

In [26]:
#example
a=np.array([[[1,2,3,4],[4,5,6,7],[7,8,9,0]],[[11,12,13,14],[14,15,16,17],[17,18,19,10]]])
print(a.ndim)
print(a[1])
print("\n",a[0][1])
print(a.shape)
print("--------")
totalSum=np.sum(a)
print(totalSum)
rowsum=np.sum(a,axis=1)
print(rowsum)
#rowsum=([[[1,2,3,4],[4,5,6,7],[7,8,9,0]],[[11,12,13,14],[14,15,16,17],[17,18,19,10]]])
#[[1,2,3,4],[4,5,6,7],[7,8,9,0]]=[1+4+7 2+5+8 3+6+9  4+7+0]
#[[11,12,13,14],[14,15,16,17],[17,18,19,10]]]=[11+14+17 12+15+18 13+16+19 14+17+10]

3
[[11 12 13 14]
 [14 15 16 17]
 [17 18 19 10]]

 [4 5 6 7]
(2, 3, 4)
--------
232
[[12 15 18 11]
 [42 45 48 41]]

In [27]:
print(a.max())
print(a.min())
print(a.mean(axis=1))
print(a.sum(axis=0))
#colsum=([[[1,2,3,4],[4,5,6,7],[7,8,9,0]],[[11,12,13,14],[14,15,16,17],[17,18,19,10]]])
#[1,2,3,4],[11,12,13,14]=[12 14 16 18]
#[4,5,6,7],[14,15,16,17]=[18,20,22,24]
#[7,8,9,0],[17,18,19,0]=[24,26,28,10]

19
0
[[ 4.          5.          6.          3.66666667]
 [14.         15.         16.         13.66666667]]
[[12 14 16 18]
 [18 20 22 24]
 [24 26 28 10]]

In [17]:
print(myarr.max())
print(myarr.min())
print(myarr.mean(axis=1))
print(myarr.sum(axis=0))

54
1
[[17.33333333  8.33333333 31.         14.         22.33333333]]
[[14 17 12 33 44]
 [15  6 27  8 19]
 [23  2 54  1  4]]

In [8]:
mya=np.random.rand(3,5)
mya

array([[0.82496352, 0.71605789, 0.69023576, 0.46244529, 0.20100823],
       [0.03753971, 0.49402014, 0.20508076, 0.23101257, 0.4027467 ],
       [0.90483418, 0.6131745 , 0.3431383 , 0.74861429, 0.22835792]])

In [45]:
#if we dont give anythimg in() then one number is generated
random=np.random.rand()
print(random)
print("-------")
#if we give one argument(3) in then it creates one d array with 3 elements
randomar=np.random.rand(3)
print(randomar)
print("---------")
#if we give two arguments(2,3) then it creates 2d array with 2 rows three columns 
randomar=np.random.rand(2,3)
print(randomar)
print("---------")
#if we give three arguments(2,2,3)then it creates two arrays with 2 rows and three columns
randomar=np.random.rand(2,2,3)
print(randomar)

0.8918677459794138
-------
[0.59037784 0.22649937 0.54200518]
---------
[[0.64279043 0.29879551 0.07552728]
 [0.17909894 0.72901634 0.46940249]]
---------
[[[0.53362811 0.99971399 0.26195529]
  [0.8536211  0.12795352 0.32524443]]

 [[0.00164278 0.33830773 0.35246824]
  [0.45081801 0.40199462 0.38102057]]]

In [46]:
s=np.arange(20,30)
s1=np.arange(10,20)
s=s.reshape(5,2)
s1=s1.reshape(5,2)
print(s)
print(s1)
s*s1

[[20 21]
 [22 23]
 [24 25]
 [26 27]
 [28 29]]
[[10 11]
 [12 13]
 [14 15]
 [16 17]
 [18 19]]

array([[200, 231],
       [264, 299],
       [336, 375],
       [416, 459],
       [504, 551]])

In [79]:
#we cannot give empty () in arange function
#ar=np.arange() #not allowed
ar=np.arange(6)
print(ar)
ar=np.arange(300,327)
print(ar)
print("-----")
b=ar.reshape(3,9)
print(b)
print("--flatten(original shape)---")
f=b.flatten()
print(f,"\n")
print("---reshape---")
print(f.reshape(3,3,3))
print("-------")
ar=np.arange(305,400,10)
print(ar)

[0 1 2 3 4 5]
[300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317
 318 319 320 321 322 323 324 325 326]
-----
[[300 301 302 303 304 305 306 307 308]
 [309 310 311 312 313 314 315 316 317]
 [318 319 320 321 322 323 324 325 326]]
--flatten(original shape)---
[300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317
 318 319 320 321 322 323 324 325 326]

---reshape---
[[[300 301 302]
  [303 304 305]
  [306 307 308]]

 [[309 310 311]
  [312 313 314]
  [315 316 317]]

 [[318 319 320]
  [321 322 323]
  [324 325 326]]]
-------
[305 315 325 335 345 355 365 375 385 395]

In [80]:
a=np.random.randint(10,100,18)
print(a)
b=a.reshape(2,3,3)
b

[51 24 35 54 72 42 64 18 98 97 18 38 81 43 19 26 89 96]

array([[[51, 24, 35],
        [54, 72, 42],
        [64, 18, 98]],

       [[97, 18, 38],
        [81, 43, 19],
        [26, 89, 96]]])

In [81]:
x=np.array([[1,2,3],[4,5,6]]) 
x.shape = (3,2) 
print(x)

[[1 2]
 [3 4]
 [5 6]]

In [82]:
a= np.random.randint(10,20,30)
print(a)
b=a.reshape(6,5)
b

[16 12 16 15 19 10 15 15 11 15 10 11 11 11 17 18 10 12 10 19 15 11 12 18
 19 18 19 10 10 11]

array([[16, 12, 16, 15, 19],
       [10, 15, 15, 11, 15],
       [10, 11, 11, 11, 17],
       [18, 10, 12, 10, 19],
       [15, 11, 12, 18, 19],
       [18, 19, 10, 10, 11]])

In [83]:
c=b.flatten()
c

array([16, 12, 16, 15, 19, 10, 15, 15, 11, 15, 10, 11, 11, 11, 17, 18, 10,
       12, 10, 19, 15, 11, 12, 18, 19, 18, 19, 10, 10, 11])

In [87]:
earnings =np.array( [
 [ [500,505,490], [810,450,678], [234,897,430], [560,1023,640] ], 
[ [600,605,490], [345,900,1000], [780,730,710], [670,540,324] ] 
])

#Q1 : earnings of year 2019
#Q2 : earning of 1st quarter of 2020
#Q3 : See the earnings of all the years


earnings[1,2,1]

730

In [86]:
earnings[:,:,1:]

array([[[ 505,  490],
        [ 450,  678],
        [ 897,  430],
        [1023,  640]],

       [[ 605,  490],
        [ 900, 1000],
        [ 730,  710],
        [ 540,  324]]])

In [89]:
import numpy as np
list1=[[6,7,8.0,5,9],
      [5,6,7,8,9]]
      
mat =np.array(list1)
mat.shape
mat[0:2, 1:3]

array([[7., 8.],
       [6., 7.]])

In [93]:
vec2=np.array([6,7,8,9])
vec2.fill(1)
print(vec2.shape)
print(vec2)

(4,)
[1 1 1 1]

In [94]:
vec2*2

array([2, 2, 2, 2])

In [95]:
#create a numpy array
import numpy as np

#numpy array base is float

list1 = [[0,1,2,3,4],[5,6,7,8,9]]
arr1d = np.array(list1)
arr1d
type(arr1d)
arr1d.dtype

arr1d.ndim
arr1d[1][3]

arr1d*3

array([[ 0,  3,  6,  9, 12],
       [15, 18, 21, 24, 27]])

In [96]:
# Print the array and its type
print(type(arr1d))
arr1d

<class 'numpy.ndarray'>

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [ ]:
The key difference between an array and a list is, arrays are designed to handle vectorized operations while a 
python list is not.

That means, if you apply a function it is performed on every item in the array, rather than on the whole array object.

Let’s suppose you want to add the number 2 to every item in the list. The intuitive way to do it is something like this:

In [26]:
list1 + 2  # error

TypeError: can only concatenate list (not "int") to list

In [27]:
#That was not possible with a list. But you can do that on a ndarray.

In [97]:
# Add 2 to each element of arr1d
arr1d + 2

array([[ 2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11]])

In [108]:
#columns must be same in different rows,oyherwise gives error
try: 
    a=np.array([[1,2,3,4,5],[1,2,3,4]])
    a+2
except TypeError:
    print("size of column must be same in all rows")
    print("canot add to because of diffferent size of column in two rows")

size of column must be same in all rows
canot add to because of diffferent size of column in two rows

In [102]:
#columns must be same in different rows,oyherwise gives error
a=np.array([[1,2,3,4,5],[1,2,3,4,5]])
a+2

array([[3, 4, 5, 6, 7],
       [3, 4, 5, 6, 7]])

In [106]:
#fixed size of array,we can not add  element in it,if we want to add then we nedd to create new ndarray
try:
    a[2]=4
    print(a)
except IndexError:
    print("array of index is out of bound")

array of index is out pf bound

In [7]:
#Another characteristic is that, once a numpy array is created, you cannot increase its size. To do so, you will have to create a new array

In [109]:
# Create a 2d array from a list of lists
list2 = [[0,1,2], [3,4,5.5], [6,7,8]]
arr2d = np.array(list2)
arr2d

array([[0. , 1. , 2. ],
       [3. , 4. , 5.5],
       [6. , 7. , 8. ]])

In [9]:
#You may also specify the datatype by setting the dtype argument. Some of the most commonly used numpy dtypes are:
float, int, bool, str, object

In [120]:
# Create a float 2d array
arr2d_f = np.array(list2)
print(arr2d_f)
arr2d_f[:,2]=0
print("---int type--")
arr2d_f=arr2d_f.astype('int')
print(arr2d_f)
print("---str type---")
arr_str=arr2d_f.astype('str')
print(arr_str)
print("---bool type---")
arr_b=arr2d_f.astype('bool')
print(arr_b)
print("---obj type---")
arr_ob=arr2d_f.astype('object')
print(arr_ob)
#  views  ...not in original
#a=a.

# .inplace=True

[[0.  1.  2. ]
 [3.  4.  5.5]
 [6.  7.  8. ]]
---int type--
[[0 1 0]
 [3 4 0]
 [6 7 0]]
---str type---
[['0' '1' '0']
 ['3' '4' '0']
 ['6' '7' '0']]
---bool type---
[[False  True False]
 [ True  True False]
 [ True  True False]]
---obj type---
[[0 1 0]
 [3 4 0]
 [6 7 0]]

In [121]:
#You can also convert it to a different datatype using the astype method.
arr2d_f.astype('int')

array([[0, 1, 0],
       [3, 4, 0],
       [6, 7, 0]])

In [122]:
# Convert to int then to str datatype
arr2d_f.astype('int').astype('str')

array([['0', '1', '0'],
       ['3', '4', '0'],
       ['6', '7', '0']], dtype='<U11')

In [14]:
#However, if you are uncertain about what datatype your array will hold or if you want to hold characters and numbers in the same array, 
#you can set the dtype as 'object'.

In [123]:
arr2d_b = np.array([1, 0, 10], dtype='bool')
arr2d_b

array([ True, False,  True])

In [124]:
# Create an object array to hold numbers as well as strings
arr1d_obj = np.array([1, 'a'], dtype='object')
arr1d_obj

array([1, 'a'], dtype=object)

In [127]:
# Create an object array to hold numbers as well as strings
arr1d_obj = np.array([1, 'a','Mandeep',142,[3],(7,'m')], dtype='object')
arr1d_obj

array([1, 'a', 'Mandeep', 142, list([3]), (7, 'm')], dtype=object)

In [128]:
# Convert an array back to a list
arr1d_obj.tolist()

[1, 'a', 'Mandeep', 142, [3], (7, 'm')]

In [18]:
#To summarise, the main differences with python lists are:

#Arrays support vectorised operations, while lists don’t.
#Once an array is created, you cannot change its size. You will have to create a new array or overwrite the existing one.
#Every array has one and only one dtype. All items in it should be of that dtype.
#An equivalent numpy array occupies much less space than a python list of lists.

In [19]:
# you were handed a numpy vector that you didn’t create yourself.

In [22]:
#U want to know:

#If it is a 1D or a 2D array or more. (ndim)</li>

#How many items are present in each dimension (shape)</li>

#What is its datatype (dtype)</li>

#What is the total number of items in it (size)</li>

#Samples of first few items in the array (through indexing)</li>

In [129]:
# Create a 2d array with 3 rows and 4 columns
list2 = [[1, 2, 3, 4],[3, 4, 5, 6], [5, 6, 7, 8]]

arr2 = np.array(list2, dtype='float')
print(arr2)

[[1. 2. 3. 4.]
 [3. 4. 5. 6.]
 [5. 6. 7. 8.]]

In [130]:
str=[
    ["hello", "how", "are", "you"],
     ["why have you not done"],
     ["good"], 
     ["work"]]
str[0][2]

'are'

In [131]:
# shape
print('Shape: ', arr2.shape)

# dtype
print('Datatype: ', arr2.dtype)

Shape:  (3, 4)
Datatype:  float64

In [132]:

# size
print('Size: ', arr2.size)

# ndim
print('Num Dimensions: ', arr2.ndim)

Size:  12
Num Dimensions:  2

In [133]:
# Extract the first 2 rows and columns
arr2[:2, :2]
#list2[:2, :2]  # error 
#TypeError: list indices must be integers or slices, not tuple

array([[1., 2.],
       [3., 4.]])

In [30]:
#numpy arrays support boolean indexing.

#A boolean index array is of the same shape as the array-to-be-filtered and it contains only True and False values. 
#The values corresponding to True positions are retained in the output.

In [139]:
b = arr2 > 5
#arr2[ arr2 > 0]
b

array([[False, False, False, False],
       [False, False, False,  True],
       [False,  True,  True,  True]])

In [145]:
b = arr2 > 4
arr2[arr2 > 4]

array([5., 6., 5., 6., 7., 8.])

In [146]:
arr2[b]

array([5., 6., 5., 6., 7., 8.])

In [34]:
#to reverse the rows and the whole array?
#Reversing an array works like how you would do with lists, but you need to do for all the axes (dimensions)
#if you want a complete reversal.

In [148]:
lst=[4,5,6,7]
str="hello how"

lst[::-1]
str[::-1]

'woh olleh'

In [ ]:
[[1. 2. 3. 4.]
 [3. 4. 5. 6.]
 [5. 6. 7. 8.]]

8 7 6 5
6 5 4 3
4 3 2 1

In [149]:
# Reverse only the row positions
arr2[::-1,::-1 ]

array([[8., 7., 6., 5.],
       [6., 5., 4., 3.],
       [4., 3., 2., 1.]])

In [154]:
# Reverse the row and column positions
print(arr2)
arr2[::-1, ::-1]

[[1. 2. 3. 4.]
 [3. 4. 5. 6.]
 [5. 6. 7. 8.]]

array([[8., 7., 6., 5.],
       [6., 5., 4., 3.],
       [4., 3., 2., 1.]])

In [37]:
#to represent missing values and infinite?
#Missing values can be represented using np.nan object, while np.inf represents infinite. Let’s place some in arr2d.

In [78]:
# Insert a nan and an inf
arr2[1,1] = np.nan  # not a number
arr2[1,2] = np.inf  # infinite
arr2

array([[ 1.,  2.,  3.,  4.],
       [ 3., nan, inf,  6.],
       [ 5.,  6.,  7.,  8.]])

In [79]:
# Replace nan and inf with -1. Don't use arr2 == np.nan
missing_bool = np.isnan(arr2) | np.isinf(arr2)
arr2[missing_bool] = -1  
arr2

array([[ 1.,  2.,  3.,  4.],
       [ 3., -1., -1.,  6.],
       [ 5.,  6.,  7.,  8.]])

In [40]:
#to compute mean, min, max on the ndarray

In [41]:
print("Mean value is: ", arr2.mean())
print("Max value is: ", arr2.max())
print("Min value is: ", arr2.min())

Mean value is:  3.5833333333333335
Max value is:  8.0
Min value is:  -1.0

In [165]:
print(arr2)
num3=np.exp(arr2)
print(num3)

num3=np.sqrt(arr2)
print(num3)
num3=arr*2
print(num3)

[[1. 2. 3. 4.]
 [3. 4. 5. 6.]
 [5. 6. 7. 8.]]
[[2.71828183e+00 7.38905610e+00 2.00855369e+01 5.45981500e+01]
 [2.00855369e+01 5.45981500e+01 1.48413159e+02 4.03428793e+02]
 [1.48413159e+02 4.03428793e+02 1.09663316e+03 2.98095799e+03]]
[[1.         1.41421356 1.73205081 2.        ]
 [1.73205081 2.         2.23606798 2.44948974]
 [2.23606798 2.44948974 2.64575131 2.82842712]]
[[ 8  2  4  2]
 [10  6  2  2]
 [ 6  6  4  2]
 [ 6  4 10  6]
 [ 2  8  8  8]
 [ 2  4 10  6]
 [ 8  8 10  6]
 [10  8  4  2]]

In [36]:
#dot product
x = np.array([2,4])
y = np.array([1,3])
dot_product = 0
for a,b in zip(x,y):
    dot_product += a * b

print(dot_product)

14

In [39]:
#DIRECTLY
a = x * y
print(a)
print(a.sum())

[ 2 12]
14

In [38]:
print(x.dot(y))

14

In [130]:
#multiy 2 atrix
X = np.array(([1,2,3], [4,5,6]))   

Y = np.array(([1,2], [4,5], [7,8]))

Z = np.dot(X, Y)
Z

array([[30, 36],
       [66, 81]])

In [136]:
X = np.array([[2,3], [0,9]]) 

Y = np.array([[4,7,2], [2,1,5]])

Z = np.dot(X, Y)
Z

array([[ 8, 21,  2],
       [ 0,  9, 30]])

In [42]:
Z = np.multiply(X, X)
Z

array([[ 1,  4,  9],
       [16, 25, 36]])

In [173]:
#to compute the minimum values row wise or column wise, use the np.amin version instead.
# Row wise and column wise min
print("Column wise minimum: ", np.amin(arr2, axis=0))
print("Row wise minimum: ", np.amin(arr2, axis=1))

Column wise minimum:  [1. 2. 3. 4.]
Row wise minimum:  [1. 3. 5.]

In [43]:
# Cumulative Sum
np.cumsum(arr2)

array([ 1.,  3.,  6., 10., 13., 12., 11., 17., 22., 28., 35., 43.])

In [44]:
#to create a new array from an existing array
# Assign portion of arr2 to arr2a. Doesn't really create a new array.
arr2a = arr2[:2,:2]  
arr2a[:1, :1] = 100  # 100 will reflect in arr2
arr2

array([[100.,   2.,   3.,   4.],
       [  3.,  -1.,  -1.,   6.],
       [  5.,   6.,   7.,   8.]])

In [220]:
arr2

array([[ 1,  2,  3,  4, 10, 20],
       [ 3,  4,  5,  6, 18, 36],
       [ 5,  6,  7,  8, 26, 52]])

In [219]:
# Copy portion of arr2 to arr2b
arr2b = arr2[:2, :2].copy()
arr2b[:1, :1] = 101  # 101 will not reflect in arr2
arr2

array([[ 1,  2,  3,  4, 10, 20],
       [ 3,  4,  5,  6, 18, 36],
       [ 5,  6,  7,  8, 26, 52]])

In [46]:
#Reshaping and Flattening Multidimensional arrays
#Reshaping is changing the arrangement of items so that shape of the array changes while maintaining the same number
#of dimensions.

#Flattening, however, will convert a multi-dimensional array to a flat 1d array. And not any other shape.

# Reshape a 3x4 array to 4x3 array
arr2.reshape(4, 3)

array([[100.,   2.,   3.],
       [  4.,   3.,  -1.],
       [ -1.,   6.,   5.],
       [  6.,   7.,   8.]])

In [47]:
#There are 2 popular ways to implement flattening. That is using the flatten() method and the other using the ravel() method.
#The difference between ravel and flatten is, the new array created using ravel is actually a reference to the parent array. So, any changes to the new array will affect the parent as well. But is memory efficient since it does not create a copy.

In [80]:
# Flatten it to a 1d array
arr2.flatten()

array([ 1.,  2.,  3.,  4.,  3., -1., -1.,  6.,  5.,  6.,  7.,  8.])

In [49]:
# Changing the flattened array does not change parent
b1 = arr2.flatten()  
b1[0] = 100  # changing b1 does not affect arr2
arr2

array([[100.,   2.,   3.,   4.],
       [  3.,  -1.,  -1.,   6.],
       [  5.,   6.,   7.,   8.]])

In [50]:
# Changing the raveled array changes the parent also.
b2 = arr2.ravel()  
b2[0] = 101  # changing b2 changes arr2 also
arr2

array([[101.,   2.,   3.,   4.],
       [  3.,  -1.,  -1.,   6.],
       [  5.,   6.,   7.,   8.]])

In [51]:
#create sequences, repetitions and random numbers using numpy
# Lower limit is 0 be default
print(np.arange(5))  

# 0 to 9
print(np.arange(0, 10))  

# 0 to 9 with step of 2
print(np.arange(0, 10, 2))  

# 10 to 1, decreasing order
print(np.arange(10, 0, -1))

[0 1 2 3 4]
[0 1 2 3 4 5 6 7 8 9]
[0 2 4 6 8]
[10  9  8  7  6  5  4  3  2  1]

In [52]:
#You can set the starting and end positions using np.arange. But if you are focussed on the number of items in the array you will have to manually calculate the appropriate step value.

#Say, you want to create an array of exactly 10 numbers between 1 and 50, Can you compute what would be the step value?

# Start at 1 and end at 50
np.linspace(start=1, stop=50, num=10, dtype=int)

array([ 1,  6, 11, 17, 22, 28, 33, 39, 44, 50])

In [55]:
#The np.zeros and np.ones functions lets you create arrays of desired shape where all the items are either 0’s or 1’s.

np.zeros([2,2])

array([[0., 0.],
       [0., 0.]])

In [56]:
np.ones([2,2])

array([[1., 1.],
       [1., 1.]])

In [57]:
#to create repeating sequences?
#np.tile will repeat a whole list or array n times. Whereas, np.repeat repeats each item n times.
a = [1,2,3] 

# Repeat whole of 'a' two times
print('Tile:   ', np.tile(a, 2))

# Repeat each element of 'a' two times
print('Repeat: ', np.repeat(a, 2))

Tile:    [1 2 3 1 2 3]
Repeat:  [1 1 2 2 3 3]

In [203]:
#to generate random numbers?
#The random module provides nice functions to generate random numbers (and also statistical distributions) of any given shape.

# Random numbers between [0,1) of shape 2,2
print(np.random.rand(2,2))
print()

# Normal distribution with mean=0 and variance=1 of shape 2,2
print(np.random.randn(2,2))

# Random integers between [0, 10) of shape 2,2
print(np.random.randint(0, 10, size=[2,2]))

# One random number between [0,1)
print(np.random.random())
print(0)

# Random numbers between [0,1) of shape 2,2
print(np.random.random(size=[2,2]))

# Pick 10 items from a given list, with equal probability
print(np.random.choice(['a', 'e', 'i', 'o', 'u'], size=10))  

# Pick 10 items from a given list with a predefined probability 'p'
print(np.random.choice(['a', 'e', 'i', 'o', 'u'], size=10, p=[0.3, .1, 0.1, 0.4, 0.1]))  # picks more o's

[[0.03999869 0.28314036]
 [0.58234417 0.9908928 ]]

[[ 0.31736798 -0.75241418]
 [-1.29639181  0.09513944]]
[[8 6]
 [5 0]]
0.5500211014054254
0
[[0.98907139 0.05474645]
 [0.61700722 0.11233104]]
['i' 'a' 'a' 'e' 'e' 'i' 'o' 'o' 'e' 'u']
['o' 'o' 'a' 'u' 'a' 'u' 'o' 'o' 'i' 'a']

In [61]:
#Now, everytime you run any of the above functions, you get a different set of random numbers.

#If you want to repeat the same set of random numbers every time, you need to set the seed or the random state. The see can be any value. The only requirement is you must set the seed to the same value every time you want to generate the same set of random numbers.

#Once np.random.RandomState is created, all the functions of the np.random module becomes available to the created randomstate object.

In [62]:
# Create the random state
rn = np.random.RandomState(100)

# Create random numbers between [0,1) of shape 2,2
print(rn.rand(2,2))

[[0.54340494 0.27836939]
 [0.42451759 0.84477613]]

In [63]:
# Set the random seed
np.random.seed(100)

# Create random numbers between [0,1) of shape 2,2
print(np.random.rand(2,2))

[[0.54340494 0.27836939]
 [0.42451759 0.84477613]]

In [65]:
#to get the unique items and the counts?
#The np.unique method can be used to get the unique items. If you want the repetition counts of each item, set the return_counts parameter to True.

In [66]:
# Create random integers of size 10 between [0,10)
np.random.seed(100)
arr_rand = np.random.randint(0, 10, size=10)
print(arr_rand)

[8 8 3 7 7 0 4 2 5 2]

In [67]:
# Get the unique items and their counts
uniqs, counts = np.unique(arr_rand, return_counts=True)
print("Unique items : ", uniqs)
print("Counts       : ", counts)

Unique items :  [0 2 3 4 5 7 8]
Counts       :  [1 2 1 1 1 2 2]

In [92]:
#In case, you MUST have the text column as it is without replacing it with a placeholder, 
#you can either set the dtype as ‘object’ or as None.
path = 'https://raw.githubusercontent.com/selva86/datasets/master/Auto.csv'
data2 = np.genfromtxt(path, delimiter=',', skip_header=1, dtype=None)
#data2 = np.genfromtxt(path, delimiter=',', skip_header=1, dtype=object)
data2[:3]  # see first 3 rows

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: VisibleDeprecationWarning: Reading unicode strings without specifying the encoding argument is deprecated. Set the encoding, use None for the system default.
  after removing the cwd from sys.path.

array([(18., 8, 307., 130, 3504, 12. , 70, 1, b'"chevrolet chevelle malibu"'),
       (15., 8, 350., 165, 3693, 11.5, 70, 1, b'"buick skylark 320"'),
       (18., 8, 318., 150, 3436, 11. , 70, 1, b'"plymouth satellite"')],
      dtype=[('f0', '<f8'), ('f1', '<i4'), ('f2', '<f8'), ('f3', '<i4'), ('f4', '<i4'), ('f5', '<f8'), ('f6', '<i4'), ('f7', '<i4'), ('f8', 'S38')])

In [210]:
# Save the array as a csv file
path = 'https://raw.githubusercontent.com/selva86/datasets/master/Auto.csv'
data2 = np.genfromtxt(path, delimiter=',', skip_header=1)
np.savetxt("out.csv", data2, delimiter=",")

In [95]:
#save and load numpy objects
#to save large transformed numpy arrays to disk and load it back to console directly
#without having the re-run the data transformations code.
#If you want to store a single ndarray object, store it as a .npy file using np.save. 
#This can be loaded back using the np.load.
#If you want to store more than 1 ndarray object in a single file, then save it as a .npz file using np.savez.

In [211]:
# Save single numpy array object as .npy file
np.save('myarray.npy', arr2d)

In [97]:
# Save multile numy arrays as a .npz file
np.savez('array.npz', arr2d_f, arr2d_b)

In [98]:
# Load a .npy file
a = np.load('myarray.npy')
print(a)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [99]:
# Load a .npz file
b = np.load('array.npz')
print(b.files)
b['arr_0']

['arr_0', 'arr_1']

array([[0., 1., 2.],
       [3., 4., 5.],
       [6., 7., 8.]])

In [143]:
#There are 3 different ways of concatenating two or more numpy arrays.
#Method 1: np.concatenate by changing the axis parameter to 0 and 1
#Method 2: np.vstack and np.hstack
#Method 3: np.r_ and np.c_  #concating two numpy arrays

a = np.zeros([4, 4])
b = np.ones([4,2 ])
print(a)
print(b)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]
[[1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]]

In [107]:
# Vertical Stack Equivalents (Row wise)

In [148]:
#all same
#x=np.concatenate([a, b],axis=1)  
x=np.hstack([a,b])  
#x=np.r_[a,b]  
x

array([[0., 0., 0., 0., 1., 1.],
       [0., 0., 0., 0., 1., 1.],
       [0., 0., 0., 0., 1., 1.],
       [0., 0., 0., 0., 1., 1.]])

In [209]:
# Horizontal Stack Equivalents (Column wise)
np.concatenate([a, b], axis=1) 
np.hstack([a,b])  
np.c_[a,b]

array([[0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.]])

In [111]:
#sort a numpy array
arr = np.random.randint(1,6, size=[8, 4])
arr

array([[3, 3, 2, 1],
       [1, 5, 4, 5],
       [3, 1, 4, 2],
       [3, 4, 5, 5],
       [2, 4, 5, 5],
       [4, 4, 4, 2],
       [2, 4, 1, 3],
       [2, 2, 4, 3]])

In [300]:
#np.sort function with axis=0 will sort all the columns in ascending order independent of eachother,
#compromising the integrity of the row items.

# Sort each columns of arr
np.sort(arr, axis=0)

array([[1, 1, 1, 1],
       [1, 2, 2, 1],
       [3, 2, 2, 1],
       [3, 3, 2, 1],
       [4, 3, 4, 3],
       [4, 4, 5, 3],
       [5, 4, 5, 3],
       [5, 4, 5, 4]])

In [155]:
np.logspace(10,20,50)

array([1.00000000e+10, 1.59985872e+10, 2.55954792e+10, 4.09491506e+10,
       6.55128557e+10, 1.04811313e+11, 1.67683294e+11, 2.68269580e+11,
       4.29193426e+11, 6.86648845e+11, 1.09854114e+12, 1.75751062e+12,
       2.81176870e+12, 4.49843267e+12, 7.19685673e+12, 1.15139540e+13,
       1.84206997e+13, 2.94705170e+13, 4.71486636e+13, 7.54312006e+13,
       1.20679264e+14, 1.93069773e+14, 3.08884360e+14, 4.94171336e+14,
       7.90604321e+14, 1.26485522e+15, 2.02358965e+15, 3.23745754e+15,
       5.17947468e+15, 8.28642773e+15, 1.32571137e+16, 2.12095089e+16,
       3.39322177e+16, 5.42867544e+16, 8.68511374e+16, 1.38949549e+17,
       2.22299648e+17, 3.55648031e+17, 5.68986603e+17, 9.10298178e+17,
       1.45634848e+18, 2.32995181e+18, 3.72759372e+18, 5.96362332e+18,
       9.54095476e+18, 1.52641797e+19, 2.44205309e+19, 3.90693994e+19,
       6.25055193e+19, 1.00000000e+20])

In [113]:
#np.argsort returns the index positions of that would make a given 1d array sorted.
# Get the index positions that would sort the array
x = np.array([1, 10, 5, 2, 8, 9])
sort_index = np.argsort(x)
print(sort_index)

[0 3 2 4 5 1]

In [114]:
#how it works?
#In array ‘x’, the 0th item is the smallest, 3rd item is the second smallest and so on.
x[sort_index]

array([ 1,  2,  5,  8,  9, 10])

In [116]:
#sort a numpy array
arr = np.random.randint(1,6, size=[8, 4])
arr

array([[4, 1, 2, 1],
       [5, 3, 1, 1],
       [3, 3, 2, 1],
       [3, 2, 5, 3],
       [1, 4, 4, 4],
       [1, 2, 5, 3],
       [4, 4, 5, 3],
       [5, 4, 2, 1]])

In [119]:
#Now, in order to sort the original arr, do an argsort on the 1st column and use the resulting index positions to sort arr
# Argsort the first column
sorted_index_1stcol = arr[:, 0].argsort()
sorted_index_1stcol

array([4, 5, 2, 3, 0, 6, 1, 7], dtype=int64)

In [120]:
# Sort 'arr' by first column without disturbing the integrity of rows
arr[sorted_index_1stcol]

array([[1, 4, 4, 4],
       [1, 2, 5, 3],
       [3, 3, 2, 1],
       [3, 2, 5, 3],
       [4, 1, 2, 1],
       [4, 4, 5, 3],
       [5, 3, 1, 1],
       [5, 4, 2, 1]])

In [ ]:
# Descending sort
arr[sorted_index_1stcol[::-1]]

In [313]:
#sort a numpy array based on 2 or more columns using np.lexsort
#remember to place the column to be sorted first at the rightmost side inside the tuple.
# Sort by column 0, then by column 1
lexsorted_index = np.lexsort((arr[:,3],arr[:, 1], arr[:, 0])) 
arr[lexsorted_index]

array([[1, 2, 5, 3],
       [1, 4, 4, 4],
       [3, 2, 5, 3],
       [3, 3, 2, 1],
       [4, 1, 2, 1],
       [4, 4, 5, 3],
       [5, 3, 1, 1],
       [5, 4, 2, 1]])

In [123]:
#date handling
# Create a datetime64 object
date64 = np.datetime64('2018-02-04 23:10:10')e
date64

numpy.datetime64('2018-02-04T23:10:10')

In [124]:
# Drop the time part from the datetime64 object
dt64 = np.datetime64(date64, 'D')
dt64

numpy.datetime64('2018-02-04')

In [125]:
#By default, if you add a number increases the number of days.
#But if you need to increase any other time unit like months, hours, seconds etc, then the timedelta object is much convenient.
# Create the timedeltas (individual units of time)
tenminutes = np.timedelta64(10, 'm')  # 10 minutes
tenseconds = np.timedelta64(10, 's')  # 10 seconds
tennanoseconds = np.timedelta64(10, 'ns')  # 10 nanoseconds

print('Add 10 days: ', dt64 + 10)
print('Add 10 minutes: ', dt64 + tenminutes)
print('Add 10 seconds: ', dt64 + tenseconds)
print('Add 10 nanoseconds: ', dt64 + tennanoseconds)

Add 10 days:  2018-02-14
Add 10 minutes:  2018-02-04T00:10
Add 10 seconds:  2018-02-04T00:00:10
Add 10 nanoseconds:  2018-02-04T00:00:00.000000010

In [126]:
# Convert np.datetime64 back to a string
np.datetime_as_string(dt64)

'2018-02-04'

In [127]:
#if a given date is a business day or not using the np.is_busday().
print('Date: ', dt64)
print("Is it a business day?: ", np.is_busday(dt64))  
print("Add 2 business days, rolling forward to nearest biz day: ", np.busday_offset(dt64, 2, roll='forward'))  
print("Add 2 business days, rolling backward to nearest biz day: ", np.busday_offset(dt64, 2, roll='backward'))

Date:  2018-02-04
Is it a business day?:  False
Add 2 business days, rolling forward to nearest biz day:  2018-02-07
Add 2 business days, rolling backward to nearest biz day:  2018-02-06

In [128]:
#create a sequence of dates

In [131]:
# Create date sequence
dates = np.arange(np.datetime64('2020-02-05'), np.datetime64('2020-02-14'))
print(dates)

# Check if its a business day
np.is_busday(dates)

['2020-02-05' '2020-02-06' '2020-02-07' '2020-02-08' '2020-02-09'
 '2020-02-10' '2020-02-11' '2020-02-12' '2020-02-13']

array([ True,  True,  True, False, False,  True,  True,  True,  True])

In [132]:
# convert numpy.datetime64 to datetime.datetime object

In [142]:
# Convert np.datetime64 to datetime.datetime
import datetime

date64 = np.datetime64('2020-02-02')
dt = date64.tolist()
dt

datetime.date(2020, 2, 2)

In [144]:
#now have a lot more facilities to extract the day of month, month of year etc.
print('Year: ', dt.year)  
print('Day of month: ', dt.day)
print('Month of year: ', dt.month)  
print('Day of Week: ', dt.weekday())  # Sunday

Year:  2020
Day of month:  2
Month of year:  2
Day of Week:  6

In [145]:
#vectorize – Make a scalar function work on vectors

In [146]:

#you can make a function that is meant to work on individual numbers, to work on arrays.
# Define a scalar function
def foo(x):
    if x % 2 == 1:
        return x**2
    else:
        return x/2

# On a scalar
print('x = 10 returns ', foo(10))
print('x = 11 returns ', foo(11))

x = 10 returns  5.0
x = 11 returns  121

In [148]:
# On a vector, doesn't work
print('x = [10, 11, 12] returns ', foo([10, 11, 12]))

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [149]:
# Vectorize foo(). Make it work on vectors.
foo_v = np.vectorize(foo, otypes=[float])

print('x = [10, 11, 12] returns ', foo_v([10, 11, 12]))
print('x = [[10, 11, 12], [1, 2, 3]] returns ', foo_v([[10, 11, 12], [1, 2, 3]]))
#vectorize also accepts an optional otypes parameter where you provide what the datatype of the output should be. 
#It makes the vectorized function run faster.

x = [10, 11, 12] returns  [  5. 121.   6.]
x = [[10, 11, 12], [1, 2, 3]] returns  [[  5. 121.   6.]
 [  1.   1.   9.]]

In [150]:
#Apply a function column wise or row wise
# Create a 4x10 random array
np.random.seed(100)
arr_x = np.random.randint(1,10,size=[4,10])
arr_x

array([[9, 9, 4, 8, 8, 1, 5, 3, 6, 3],
       [3, 3, 2, 1, 9, 5, 1, 7, 3, 5],
       [2, 6, 4, 5, 5, 4, 8, 2, 2, 8],
       [8, 1, 3, 4, 3, 6, 9, 2, 1, 8]])

In [151]:
#find the difference of the maximum and the minimum value in each row
#You can do this elegantly using the numpy.apply_along_axis.

#It takes as arguments:

#Function that works on a 1D vector (fund1d)
#Axis along which to apply func1d. For a 2D array, 1 is row wise and 0 is column wise.
#Array on which func1d should be applied.
# Define func1d
def max_minus_min(x):
    return np.max(x) - np.min(x)

# Apply along the rows
print('Row wise: ', np.apply_along_axis(max_minus_min, 1, arr=arr_x))

# Apply along the columns
print('Column wise: ', np.apply_along_axis(max_minus_min, 0, arr=arr_x))

Row wise:  [8 8 6 8]
Column wise:  [7 8 2 7 6 5 8 5 5 5]

In [152]:
#to add a new axis to a numpy array, ie to convert a 1D array into a 2D array
#inserting a new axis using the np.newaxis.

#Actually, using this you can raise an array of a lower dimension to a higher dimension.
# Create a 1D array
x = np.arange(5)
print('Original array: ', x)

# Introduce a new column axis
x_col = x[:, np.newaxis]
print('x_col shape: ', x_col.shape)
print(x_col)

# Introduce a new row axis
x_row = x[np.newaxis, :]
print('x_row shape: ', x_row.shape)
print(x_row)

Original array:  [0 1 2 3 4]
x_col shape:  (5, 1)
[[0]
 [1]
 [2]
 [3]
 [4]]
x_row shape:  (1, 5)
[[0 1 2 3 4]]

In [153]:
#Use np.digitize to return the index position of the bin each element belongs to.
# Create the array and bins
x = np.arange(10)
bins = np.array([0, 3, 6, 9])

# Get bin allotments
np.digitize(x, bins)

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 4], dtype=int64)

In [156]:
#Use np.clip to cap the numbers within a given cutoff range.
#All number lesser than the lower limit will be replaced by the lower limit. Same applies to the upper limit also.

# Cap all elements of x to lie between 3 and 8
x = np.arange(10)
x

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [157]:
np.clip(x, 3, 8)

array([3, 3, 3, 3, 4, 5, 6, 7, 8, 8])

In [158]:
#While histogram() gives the frequency counts of the bins,
# Histogram example
counts, bins = np.histogram(x, [0, 2, 4, 6, 8])
print('Counts: ', counts)
print('Bins: ', bins)

Counts:  [2 2 2 3]
Bins:  [0 2 4 6 8]

Adding Rowwise

In [303]:
a = np.array([[1, 2], [3, 4]])
b = np.array([[5, 6]])
np.concatenate((a, b), axis=0)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [305]:
x = np.random.randint(5, size=(4, 4))

columns = np.sum(x,axis=1)
#rows = np.sum(np.transpose(x),axis=1)
print(columns)
print(x)

[ 7  5 12  7]
[[2 4 1 0]
 [1 4 0 0]
 [1 4 3 4]
 [1 1 4 1]]
[ 5 13  8  5]

ValueError: all the input arrays must have same number of dimensions

In [308]:
col=np.array([np.sum(x,axis=1)])
print(col)
x=np.concatenate((x,col.T),axis=1)
print(x)

[[28 20 48 28]]
[[ 2  4  1  0  7 14 28]
 [ 1  4  0  0  5 10 20]
 [ 1  4  3  4 12 24 48]
 [ 1  1  4  1  7 14 28]]

In [312]:
x = np.random.randint(5, size=(4, 4))
print(x)
rowsum=np.array([np.sum(x,axis=1)])
print(rowsum)
x=np.concatenate((x,rowsum.T),axis=1)
print(x)

[[3 4 1 4]
 [2 2 3 2]
 [0 3 1 0]
 [1 2 3 4]]
[[12  9  4 10]]
[[ 3  4  1  4 12]
 [ 2  2  3  2  9]
 [ 0  3  1  0  4]
 [ 1  2  3  4 10]]

In [293]:
#summing rows and adding the summed rows in array
list2 = [[1, 2, 3, 4],[3, 4, 5, 6], [5, 6, 7, 8]]

arr2 = np.array(list2)
arr2

array([[1, 2, 3, 4],
       [3, 4, 5, 6],
       [5, 6, 7, 8]])

In [294]:
col=np.array([np.sum(arr2,axis=1)])
print(col)
arr2=np.concatenate((arr2,col.T),axis=1)
print(arr2)

[[10 18 26]]
[[ 1  2  3  4 10]
 [ 3  4  5  6 18]
 [ 5  6  7  8 26]]

In [290]:
#summing cols and adding the summed cols in array
arr3=np.array([np.sum(arr2,axis=0)])
print(arr3)

[[  9  12  15  18  54 108]]

In [251]:
#arr2=np.concatenate((arr3),axis=0)
#print(arr2)
j=np.concatenate((arr2,arr3),axis=0)
j
#np.hstack([arr3,arr2])

array([[ 1,  2,  3,  4, 10],
       [ 3,  4,  5,  6, 18],
       [ 5,  6,  7,  8, 26],
       [ 9, 12, 15, 18, 54]])

array([[1, 2],
       [3, 4],
       [5, 6]])